* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .coverSection {
    background-image: url('../../assets/images/ninearch.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Example: Set height to fill the viewport */
    z-index: -10;
  }
  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

