/* Custom styles for NoPage component */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.noPage {
    background-color: #f8f9fa;
    text-align: center;
    padding: 0 20px;
  }
  
  .display-1 {
    margin-bottom: 1rem;
    font-size: 6rem;
    color: #343a40;
    font-weight: 600;
  }
  
  .lead {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 2rem;
  }

  