/* Custom styles for NoPage component */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noPage {
  background-color: #dadada;
  text-align: center;
  height: 100vh;
}

/* .display-1 {
    margin-bottom: 1rem;
    font-size: 6rem;
    color: #343a40;
    font-weight: 600;
  }
  
  .lead {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 2rem;
  } */

.noPageAnimation {
  height: 60vh;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .noPage {
    height: 100vh;
  }
}
