/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer container styles */
.footer-container {
  position: relative; /* Ensure relative positioning */
  width: 100%; /* Full width */
  background-color:aquamarine; /* Background color */
  color: #fff; /* Text color */
  padding: 2rem 0; /* Padding top and bottom */
}

/* Shape divider styles */
.custom-shape-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1720018553 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 36px;
}

.custom-shape-divider-top-1720015931 path.shape-fill {
  fill: rgb(255, 170, 127); /* Replace with your desired color */
}

.footerSection{
  background-color: rgb(38, 38, 38);
  color: white;
}

/* footerStyles.css */

.footerDrop {
  border: 2px solid white; /* Border style */
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Make the div fit content width */
  padding: 5px; /* Padding for inside content */
}

.footer .footer-col {
  display: flex;
  flex-direction: column;
}

.footer .footerDrop .dropdown {
  text-align: left; /* Align dropdown items to the left */
}
