/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar styles */
.navBar {
  padding: 1rem 0; /* Padding around navbar */
  box-shadow: 0 2px 4px var(--shadow-color); /* Navbar shadow */
  text-align: center; /* Center align content */
  position: relative; /* Ensure relative positioning for absolute children */
  color: var(--text-color); /* Text color */
  background-color: var(--bg-color); /* Background color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for color change */
}

.navLogo {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 1rem; /* Padding around links */
  transition: color 0.3s ease; /* Smooth color transition */
  margin-left: 10px; /* Adjust spacing between links */
  text-decoration: none; /* Remove default underline */
  font-size: large;
  text-transform: uppercase; /* Uppercase text */
  color: rgb(255, 255, 255); /* Default text color */
  font-weight: 600; /* Font weight */
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #ffee10;
  border-bottom: 2px solid #ffee10;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffee10;
  box-shadow: 0 0 10px #ffee10;
  transform: scale(1.1);
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}

.nav-link:hover {
  font-weight: 600; /* Change font weight on hover */
  color: #000000 !important; /* Change text color on hover */
}

.nav-link:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

.nav-link:hover::after {
  transform: scaleY(1);
  opacity: 1;
}

/* Active link styles */
.nav-link.active {
  border: 2px solid #ffee10;
  box-shadow: 0 0 5px #ffee10;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 0 5px #ffee10;
  position: relative;
  border-radius: 5px;
}

/* Toggler styles */
.toggler-light .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* White lines */
}

.toggler-dark .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="black" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Black lines */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important; /* Remove default outline */
  box-shadow: none !important; /* Remove default box shadow */
  border: 3px solid #ffee10;
  box-shadow: 0 0 10px #ffee10;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    -webkit-backdrop-filter: blur(10px); /* Safari */
    backdrop-filter: blur(10px); /* Other browsers */
    background-color: rgba(78, 78, 78, 0.405); /* Transparent background */
    border-radius: 10px; /* Rounded corners */
    padding: 1rem; /* Padding around navbar */
    margin-top: 0.5rem; /* Adjust margin */
  }
  .nav-link {
    display: block; /* Display links as block elements */
    margin: 0.5rem 0; /* Adjust margin */
  }
}
