/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
.aboutBody {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  color: #333;
}

/* Animation styling */
.aboutUsAnimation {
  top: 0;
  left: 0;
  height: 30vh;
  width: 50vw;
  pointer-events: none; /* Make sure the animation doesn't interfere with user interactions */
}

/* Content styling */
.about-us {
  position: relative; /* Ensures that the content is positioned above the animation */
  padding: 1rem 2rem;
  margin-top: 5rem;
}

.aboutHeadingSection {
  text-align: center;
  margin-bottom: 40px;
}

.aboutHeadingSection h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.aboutHeadingSection p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.aboutSection {
  margin-bottom: 40px;
}

.aboutSection h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.aboutSection p {
  font-size: 1.1rem;
  line-height: 1.6;
}
